body{
    height:100vh;
    width:100vw;
    background-color: rgba(14, 14, 28, 0.885);
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
    margin: 0%;
}
#login{
    height:70vh;
    width:27vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    border-radius: 15px;
}
#login h3{
    font-size: 3rem;
    margin-bottom: 20px;
    margin-top: 0;
    color:#030637;
}

input{
    margin: 10px;
    padding:2px;
    display:block;
    font-size:1rem;
    color:#030637;
    font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}
#loginForm{
  display:flex;
  margin:0;
  flex-direction: column;  
  align-items: center;
}
 /* responsiveness check */
@media (max-width: 1000px) {
    #login {
        width: 60vw;
        height: 60vh;
    }
}